*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fdfdfd;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8f97e4;
    max-width: 80%;
    padding: 20px 27px;
    border-radius: 20px;
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.66);
    gap: 20px;
    text-align: center;
}

label{
    font-size: clamp(1rem, 100vw, 1.2rem);
}

input{
    width: 15rem;
    padding: 10px 0.2rem;
    border: none;
    border-radius: 0.5rem;
    color: #8f97e4;
}

h1 {
    font-size: clamp(1.5rem, 100vw, 3rem);
    text-align: center;
}

button {
    width: 2rem;
    padding: 5px 0;
    font-size: 1.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin: 1rem ;
    color: #8f97e4;
}